
#mapPane {
    -fx-border-radius: 2px;
    -fx-border-color: #1f1e1e;
    -fx-background-color: #1f1e1e;
}

#btnReduceLogs {
    -fx-background-image: url("reduce.png");
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#btnReduceLogs:hover {
    -fx-focus-color: blue;
    -fx-faint-focus-color: blue;
}

#btnLoad {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#btnload:hover {
    -fx-focus-color: blue;
    -fx-faint-focus-color: blue;
}

.list-view {
    -fx-control-inner-background: #d3d3d3;
    -fx-font-family: "DejaVu Sans Mono";
    -fx-font-size: 10;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-cell:odd {
    -fx-background-color: #d3d3d3;
}

.list-cell:even {
    -fx-background-color: #d3d3d3;
}

.label {
    -fx-font-family: "DejaVu Sans Mono";
    -fx-font-size: 11;
}